@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Questrial&family=Petit+Formal+Script&display=swap');

/* Tailwind v4: load project config explicitly */
@config "../../tailwind.config.mjs";

@import "tailwindcss";

.titan-one-regular {
	font-family: "Titan One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

