@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Questrial&family=Petit+Formal+Script&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans text-warm-gray bg-cream;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
