---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---

<Layout>
    <Header />
    <main class="pt-24 px-4 md:px-8 max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">Sobre Nosotros</h1>
        <div class="prose">
            <p>Bienvenido a Puerto Beauty, donde la belleza se encuentra con la excelencia.</p>
            
            <p>Aquí puedes añadir más información sobre tu negocio, historia, valores o cualquier otro contenido relevante para la página Sobre Nosotros.</p>
        </div>
    </main>
</Layout>