---


import type { Image } from '../types/index.ts';

export interface Props {
  images: Image[];
}

const { images } = Astro.props;
---

<div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6 px-2 sm:px-4 md:px-8 max-w-full md:max-w-screen-lg mx-auto">
    {images.map((image) => (
        <div class="mb-4 sm:mb-6 md:mb-8 relative group overflow-hidden rounded-xl shadow-lg shadow-rose-100/50 border border-rose-50/50 flex flex-col items-center">
            <div class="w-full max-w-[100px] sm:max-w-sm md:max-w-[260px] aspect-[9/16] mx-auto">
                <img
                    src={image.src}
                    alt={image.alt}
                    class="w-full h-full object-cover transition-all duration-300 group-hover:blur-sm group-hover:scale-110 rounded-xl"
                />
            </div>
            <div class="absolute inset-0 bg-rose-100/60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
                <div class="text-center text-zinc-700 px-2 sm:px-4">
                    <h3 class="text-lg sm:text-xl font-bold mb-2">{image.title}</h3>
                </div>
            </div>
        </div>
    ))}
</div>
</div>
